
 .main-example .time {
     border-radius: 5px;
     box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
     display: inline-block;
     text-align: center;
     position: relative;
     height: 95px;
     width: 85px;

     -webkit-perspective: 479px;
     -moz-perspective: 479px;
     -ms-perspective: 479px;
     -o-perspective: 479px;
     perspective: 479px;

     -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
     -ms-backface-visibility: hidden;
     -o-backface-visibility: hidden;
     backface-visibility: hidden;

     -webkit-transform: translateZ(0);
     -moz-transform: translateZ(0);
     -ms-transform: translateZ(0);
     -o-transform: translateZ(0);
     transform: translateZ(0);

     -webkit-transform: translate3d(0, 0, 0);
     -moz-transform: translate3d(0, 0, 0);
     -ms-transform: translate3d(0, 0, 0);
     -o-transform: translate3d(0, 0, 0);
     transform: translate3d(0, 0, 0);
 }

 .main-example .count {
     background: #ff0000;
     color: #f8f8f8;
     display: block;
     font-size: 60px;
     line-height: 96px;
     overflow: hidden;
     position: absolute;
     text-align: center;
     text-shadow: 0 0 10px #f7090052;
     top: 0;
     width: 100%;

     -webkit-transform: translateZ(0);
     -moz-transform: translateZ(0);
     -ms-transform: translateZ(0);
     -o-transform: translateZ(0);
     transform: translateZ(0);

     -webkit-transform-style: flat;
     -moz-transform-style: flat;
     -ms-transform-style: flat;
     -o-transform-style: flat;
     transform-style: flat;
     font-weight: bold;
 }

 .main-example .count.top {
     border-top: 1px solid rgba(255, 255, 255, 0.2);
     border-bottom: 1px solid rgba(255, 255, 255, 0.1);
     border-radius: 5px 5px 0 0;
     height: 50%;

     -webkit-transform-origin: 50% 100%;
     -moz-transform-origin: 50% 100%;
     -ms-transform-origin: 50% 100%;
     -o-transform-origin: 50% 100%;
     transform-origin: 50% 100%;
 }

 .main-example .count.bottom {
     background-image: linear-gradient(rgba(255, 255, 255, 0.1), transparent);
     background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.1), transparent);
     background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.1), transparent);
     background-image: -ms-linear-gradient(rgba(255, 255, 255, 0.1), transparent);
     background-image: -o-linear-gradient(rgba(255, 255, 255, 0.1), transparent);
     border-top: 1px solid #ffff;
     border-bottom: 1px solid #ff00002b;
     border-radius: 0 0 5px 5px;
     line-height: 0;
     height: 50%;
     top: 50%;

     -webkit-transform-origin: 50% 0;
     -moz-transform-origin: 50% 0;
     -ms-transform-origin: 50% 0;
     -o-transform-origin: 50% 0;
     transform-origin: 50% 0;
 }

 .main-example .count.next {}

 .main-example .label {
     font-size: normal;
     margin-top: 5px;
     display: block;
     position: absolute;
     top: 95px;
     width: 100%;
 }

 /* Animation start */
 .main-example .count.curr.top {
     -webkit-transform: rotateX(0deg);
     -moz-transform: rotateX(0deg);
     -ms-transform: rotateX(0deg);
     -o-transform: rotateX(0deg);
     transform: rotateX(0deg);
     z-index: 3;
 }

 .main-example .count.next.bottom {
     -webkit-transform: rotateX(90deg);
     -moz-transform: rotateX(90deg);
     -ms-transform: rotateX(90deg);
     -o-transform: rotateX(90deg);
     transform: rotateX(90deg);
     z-index: 2;
 }

 /* Animation end */
 .main-example .flip .count.curr.top {
     -webkit-transition: all 250ms ease-in-out;
     -moz-transition: all 250ms ease-in-out;
     -ms-transition: all 250ms ease-in-out;
     -o-transition: all 250ms ease-in-out;
     transition: all 250ms ease-in-out;

     -webkit-transform: rotateX(-90deg);
     -moz-transform: rotateX(-90deg);
     -ms-transform: rotateX(-90deg);
     -o-transform: rotateX(-90deg);
     transform: rotateX(-90deg);
 }

 .main-example .flip .count.next.bottom {
     -webkit-transition: all 250ms ease-in-out 250ms;
     -moz-transition: all 250ms ease-in-out 250ms;
     -ms-transition: all 250ms ease-in-out 250ms;
     -o-transition: all 250ms ease-in-out 250ms;
     transition: all 250ms ease-in-out 250ms;

     -webkit-transform: rotateX(0deg);
     -moz-transform: rotateX(0deg);
     -ms-transform: rotateX(0deg);
     -o-transform: rotateX(0deg);
     transform: rotateX(0deg);
 }

 .mySwiper-productSale .swiper-button-next,
 .mySwiper-productSale .swiper-button-prev {
     color: #dddddd;
     border-radius: 100%;
     width: 40px;
     height: 40px;
     box-shadow: 0 1px 12px 0 rgb(0 0 0 / 12%);
 }

 .mySwiper-productSale .swiper-button-next:after,
 .mySwiper-productSale .swiper-button-prev:after {
     font-size: 25px;

 }

 .mySwiper-productSale .swiper-button-next {
     right: 0px;
     left: auto;
 }

 .mySwiper-productSale .swiper-button-prev {
     left: 0px;
 }
.js_ul_menu_home li.active a{
    background-color: #679210;
    color:#fff
}
.news-content-more{
    display: inline-block;
    padding: 10px 25px;
    background-color: rgb(103 146 16);
    border-radius: 10px;
    font-weight: 500;
    border: 1px solid rgb(103 146 16);
    color: #ffff;
    margin-top: 20px;
}
.news-content-more:hover{
    background-color: #fff!important;
    color: #679210!important;

}
.news-content-more:hover,
.news-content-more:focus {
    color: #fff;
    background-color: #679210;
    border-color: #679210;
}

 @media screen and (max-width: 767px) {
     .main-example {
         width: 100%;
     }

   

     .main-example .time {
         height: 70px;
         width: 65px;
     }

     .main-example .count {
        font-size: 40px;
         line-height: 70px;
     }

    .main-example .label {
    
        top: 68px;
    }
 }
  @media (min-width: 768px) and (max-width: 1023px) {
      .main-example {
          width: 100%;
      }


      .main-example .time {
          height: 70px;
          width: 65px;
      }

      .main-example .count {
          font-size: 40px;
          line-height: 70px;
      }

      .main-example .label {

          top: 68px;
      }
  }